<footer class="footer">
  {% include social-icons.html %}
<!--   <div class="post-date"><a href="{{ site.github.url }}/menu/about.html">{{ site.title }} | {{ site.description }} by {{ site.author }}</a></div> -->
  <br>
  <a href="{{ site.github.url }}/publickey" class="orgs" style="font-style: normal;" target="_blank">PGP public key</a>fingerprint: <code>07DF 3BA8 4259 DF0A 73E0 365B 5A80 97CE 8F78 0EB7</code> <br>
  ETH public address: <code>0xC4Ee8f23D1032167bC63D2b7a5ec6f1c620726d3</code>
</footer>