---
layout: default
title: Home
---

<!-- <img src="{{ site.github.url }}/assets/img/me2.jpg" class="pfp" align="right"> -->
<!-- <a href="" target="_blank" class="orgs"> -->

I am currently a Deep Learning Engineer on the <a href="https://developer.nvidia.com/cudnn" target="_blank" class="orgs">cuDNN</a> team at <a href="https://www.nvidia.com/en-us/" target="_blank" class="orgs">NVIDIA</a> working on accelerating deep learning workloads on GPUs. I'm broadly interested in performance engineering, machine learning systems, hardware architecture, and empirical ML. Currently also writing a <a href="https://mlsysreview.substack.com/" target="_blank">MLSys Review</a> newsletter<br><br>

I graduated from <a href="https://web.mit.edu/" target="_blank" class="orgs">Massachusetts Institute of Technology (MIT)</a> with a B.S. and M.Eng (coursework <a href="{{ site.github.url }}/coursework">here</a>). where I worked on understanding the performance of large language models for my thesis. <br><br>

Some things I worked on in the past:
<ul>
  <li> <a href="https://www.nvidia.com/en-us/" target="_blank" class="orgs">NVIDIA</a>: added CUDA kernels for Graph Neural Networks (GNNs) into the <a href="https://developer.nvidia.com/cudnn" target="_blank" class="orgs">cuDNN</a> library</li>
  <li> <a href="https://hanlab.mit.edu/" target="_blank" class="orgs">MIT Han Lab</a>: developed high-performance computer vision kernels for TinyML on edge devices</li>
  <li> <a href="https://mitibmwatsonailab.mit.edu/" target="_blank" class="orgs">MIT-IBM Watson AI Lab</a>: accelerated distributed training on HPC clusters for large scale graph neural networks <a href="https://arxiv.org/abs/2110.08450" target="_blank">[MLSys 2022 paper]</a></li>
  <li> <a href="https://www.prod.so/" target="_blank" class="orgs">Prod Cohort 2.0</a>: attempted doing startups and an AI newsletter</li>
  <li> <a href="https://www.cadence.com/" target="_blank" class="orgs">Cadence Design Systems</a>: developed a machine learning workflow for faster and more accurate VLSI circuit timing analysis</li>
  <li> <a href="https://www.praxispioneering.com/" target="_blank" class="orgs">Praxis</a>: benchmarked diffusion models and reviewed the torch.distributed package</li>
  <li> <a href="https://www.linkedin.com/company/matrix-capital-management-llc/" target="_blank" class="orgs">Matrix Capital Management</a>: venture scout for crypto/web3 companies and projects
  <li> <a href="https://www.trailofbits.com/" target="_blank" class="orgs">Trail of Bits</a>: performed formal verification studies on the Ethereum 2.0 CBC Casper protocols </li>
  <li> <a href="https://dci.mit.edu/" class="orgs" target="_blank">MIT Media Lab Digital Currency Initiative</a>:  implemented simulations of consensus algorithms to study 51% attack mitigation and symmetry breaking </li>
  <li> <a href="http://dig.csail.mit.edu/studentinfo.html" target="_blank" class="orgs">MIT CSAIL Decentralized Information Group</a>: analyzed statistical properties of transactions on the bitcoin blockchain empirically</li>
  <li> <a href="https://bitcoin.mit.edu/" class="orgs" target="_blank">MIT Bitcoin Club</a>: vice president; content and marketing director of the <a href="https://mitbitcoinexpo.org/" target="_blank" class="orgs">MIT Bitcoin Expo</a></li>
  <li> <a href="https://alphastar.academy" target="_blank" class="orgs">Alphastar Academy</a>:  taught <a href="http://usaco.org/", target="_blank", class="orgs">USA Computing Olympiad</a> preparation courses</li>
</ul> <br>

Outside of CS, I enjoy history of art and architecture, <a href="https://vsco.co/anneouyang" target="_blank">photography</a>, and <a href="{{ site.github.url }}/classicalmusic">classical music</a>. <br><br>

Resume available upon request. If you have any questions or would like to chat, feel free to reach out (social links below). <br><br>

(<a href="{{ site.github.url }}/publickey" target="_blank">PGP public key</a> fingerprint: <code>07DF 3BA8 4259 DF0A 73E0 365B 5A80 97CE 8F78 0EB7</code>)