---
layout: default
title: Home
---

<img src="{{ site.github.url }}/assets/img/me.jpg" class="pfp" align="right">
<!-- <a href="" target="_blank" class="orgs"> -->

I am currently on leave from my PhD program to build <br><a href="https://standardkernel.com/" target="_blank" class="orgs"> Standard Kernel</a>. <br><br>

Previously, I was a CS PhD student at Stanford University co-advised by Azalia Mirhoseini and Percy Liang. My research interests center on scalable self-improving machine learning systems. [<a href="https://arxiv.org/abs/2502.10517" target="_blank" class="orgs">KernelBench</a>, <a href="https://scalingintelligence.stanford.edu/blogs/fastkernels/" target="_blank" class="orgs">KernelTreeSearch</a>]<br><br>

Before Stanford, I graduated from Massachusetts Institute of Technology (MIT) with B.S. and M.Eng degrees and worked on the NVIDIA <a href="https://developer.nvidia.com/cudnn" target="_blank" class="orgs">cuDNN</a> team where I wrote CUDA kernels to accelerate deep learning workloads on GPUs.<br><br>